

     <section class="inner-widget">
    <p class="text-center thank-txt">
        <strong>Thank you for submitting your profile.</strong>
    </p>
    <p class="text-center" style="font-size:19px">
        Our team will get back in touch with you shortly
    </p>
    </section>

 

