<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (@ViewData["Title"] == "LowCostHighTouch")
    {
        <title> LowCostHighTouchTest - TheLvyLeagueEdge</title>
    }
    else
    {
        <title>@ViewData["Title"] - TheLvyLeagueEdge</title>
    }
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/media-query.css" rel="stylesheet">
</head>
<body>
    <div class="front-wrap inner-wrap d-flex align-items-center">
        <header class="d-flex justify-content-between align-items-center transition">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <div>
                        <a href="/" class="txt-logo">
                            <h3>The <strong>Ivy League Edge</strong> </h3>
                            <h4>
                                Founded and Headed By Yale MBA
                            </h4>
                        </a>
                    </div>
                    <div class="d-flex align-items-center p-relative">
                        <div>
                            <div class="h-links">
                                <ul class="d-flex align-items-center ">
                                    <li>
                                        <a class="transition a-link" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="transition a-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" asp-action="Index">Services</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="/Pricing/ComprehensivePackage">Comprehensive Packages </a></li>
                                            <li><a class="dropdown-item" href="/Pricing/HourlyPackages">Hourly Packages</a></li>
                                            <li>
                                                <a class="dropdown-item" href="/Pricing/OneTimeEntireApplicationCheck">
                                                    One Time Entire Application Check
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/Pricing/InterViewPreperation">
                                                    Interview Preparation With
                                                    Real Interview Questions
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/Pricing/ExecutiveMBA">
                                                    Executive MBA Admissions Consulting
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/Pricing/LowCostHighTouch">
                                                    Low Cost, High Touch Group Sessions for MBA Aspirants
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/Pricing/index">
                                                    Specialized Masters &
                                                    PhD Applications
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="transition a-link" asp-controller="AboutUs" asp-action="Index">About Us</a>
                                    </li>
                                    <li>
                                        <a class="transition a-link" asp-controller="ContactUs" asp-action="Index">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:;" class="h-ham">
                                <img src="~/images/Menu_button.svg" alt="Hamburger Image" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <div class="fade-overlay"></div>
        <div class="toggle-widget">
            <a href="javascript:;" class="toggle-close">
                <img src="~/images/close.svg" alt="Close Icon" />
            </a>
            <div class="toggle-menu">
                <ul>
                      <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/AboutUs">About Us</a>
                <li>
                    <a href="/ContactUs">Contact Us</a>
                </li>

                </ul>
            </div>
            <h1>About Us</h1>
            <p>
                The Ivy League Edge” was founded, and is headed by Bala, himself an alumnus of Yale SOM.
                Before starting “The Ivy League Edge”, he worked corporate jobs across domains and industries, including in Corporate Strategy for large businesses.
                During his time in Admissions Consulting however, he has helped candidates in various stages for MBA, MS and Fellow Programs to top global universities
               
            </p>
            <a class="rd-more" href="/AboutUs">Read More..</a>
           @* <h1>Contact Us</h1>
            <ul class="toggle-list">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis </li>
                <li>+91- 123456, +91-67890</li>
                <li>www.abcdlorem.in</li>
            </ul>*@
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="~/images/twitter.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="~/images/facebook.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="~/images/linkdin.svg" alt="icon">
                        </a>
                    </li>
                    <!-- <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="images/pintrest.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="images/instagram.svg" alt="icon">
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="trngle-top"></div>
        <div class="trngle-left-inner"></div>
    </div>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="d-flex justify-content-between flex_wrap">
                <div class="ft-max">
                    <h3>Reach Us</h3>
                    </h3>
                    <ul class="ft-listing">
                        <li>
                            <a href="/ContactUs">Contact Us </a>
                        </li>
                    </ul>
                </div>
                <div class="ft-max">
                    <h3>Services Offering</h3>
                    <ul class="ft-listing">
                        <li>
                            <a href="/Pricing/ComprehensivePackage">Comprehensive Packages </a>
                        </li>
                        <li>
                            <a href="/Pricing/HourlyPackages">Hourly Packages</a>
                        </li>
                        <li>
                            <a href="/Pricing/OneTimeEntireApplicationCheck">One Time Entire Application Check</a>
                        </li>
                        <li>
                            <a href="/Pricing/InterViewPreperation">
                                Interview Preparation With
                                Real Interview Questions
                            </a>
                        </li>
                        <li>
                            <a href="/Pricing/ExecutiveMBA">Executive MBA Admissions Consulting</a>
                        </li>
                        <li>
                            <a href="/Pricing/LowCostHighTouch"> Low Cost, High Touch Group Sessions for MBA Aspirants</a>
                        </li>
                        <li>
                            <a href="/Pricing/index">
                                Specialized Masters & PhD Applications
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="ft-max">
                    <h3>The Ivy League Edge</h3>
                    <ul class="ft-listing">
                        <li>
                            <a href="/Home/FAQ">FAQ</a>
                        </li>
                        <li>
                            <a href="/AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
@*
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery.slim.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/function.js"></script>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "hx6wi44u8t");
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
