
@{
    ViewData["Title"] = "HourlyPackages";
}

<section class="inner-widget">
    <div class="container">
        <h1 class="text-center home-h1 mb-0">Hourly  <span>Packages</span></h1>
       
        <div class="row mt-30">
            <div class="col-12 col-lg-8 price-left">
                <h2 class="mb-2">
                    <strong>
                        Included in the Hourly Packages
                    </strong>
                </h2>
                <h2 class="mb-2">
                    <strong>
                        2 Hour Packages :
                    </strong>
                </h2>
                <p>
                    Any ONE item from the Application EXCLUDING Resume (e.g. One essay draft, One LOR, Emergency Interview Prep etc.)
                </p>
                <p>
                    You get: 2 blocks of 1 hour each (Expiry in 3 business days from date of purchase, as per consultant’s availability)
                </p>
                <div class="mt-border-3 mt-3 mb-3">
                    <img src="~/images/hourly-image-2.jpg" alt="image" class="w-100" />
                </div>
                <h2 class="mb-2">
                    <strong>
                        11 Hour Packages :
                    </strong>
                </h2>
                <p>
                    Any THREE items from the Application EXCLUDING Resume. (e.g. Three Essay drafts – Including Scholarship essays,
                    Interview Prep Sessions, Guidance on Letters of Recommendations) You get: 11 blocks of 1 hour each, (Expiry in 15 business
                    days from date of purchase, as per consultant’s availability).

                </p>
               
               
               
            </div>
            <div class="col-12 col-lg-4">
                <div class="price-card mr-15">
                    <div class="price-title">
                        <p>Packages </p>
                        <span class="d-block mt-2">
                            (All prices are open to change)
                        </span>
                    </div>
                    <div class="price-body">
                        <table width="100%" class="pc-s-1">
                            <tbody>
                                <tr>
                                    <td width="40%">2 hours</td>
                                    <td width="60%" align="right">$179/ INR 13,999*</td>
                                </tr>
                                <tr>
                                    <td width="40%">11 hours</td>
                                    <td width="60%" align="right">
                                        $999/ INR 79,995*
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-15">
                        <div class="price-card-footer">
                            <div class="d-flex align-items-center">
                                <div class="mr-15">
                                    <p>1.</p>
                                </div>
                                <div>
                                    <p>
                                        Add-Ons: Each Additional hour (bought separately) $119/ INR 9499K*
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="mr-15">
                                    <p>2.</p>
                                </div>
                                <div>
                                    <p>
                                        Book early to save upto 20%
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="mr-15">
                                    <p>*:</p>
                                </div>
                                <div>
                                    <p>
                                        Taxes Extra (For INR Payments)
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="mr-15">
                                    <p>**:</p>
                                </div>
                                <div>
                                    <p>
                                        International payments exempt from Taxes
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-testimonial">
    <div class="container">
        <h1 class="text-center home-h1">Our <span>Testimonials</span></h1>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/sheenasaraf/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/sheena-saraf.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Sheena Saraf  </h4>
                            <p class="sub-txt-s">Cambridge (100% success rate; SUBMISSION within 7 days OVERALL) </p>
                            <p class="sub-txt-s">Real Estate Investment Banking at Bank of America | Cambridge MBA </p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            Bala is a One Man Army when it comes to applications to elite B-schools.
                            He helped me get through the entire process from strategizing my essays to interview prep very coherently even though I approached him just one week before the deadline of the first school. While I was unsure of submitting in time, he motivated me and worked hard with me to make sure we submitted great quality applications.
                            He is an extremely logical, approachable and organised person with immense knowledge on almost any subject.
                            I was fortunate to have worked with him and got through my dream B-school, Cambridge.
                        </p>
                    </div>
                    @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/frayoshk/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/frayosh-khursetjee.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Frayosh Khursetjee</h4>
                            <p class="sub-txt-s">HEC Paris (plus Darden & CMU Tepper) </p>
                            <p class="sub-txt-s">HEC Paris MBA'23 | J. N. Tata Scholar | Strategy & Analytics Consulting</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            I first met Bala when I decided to do my MBA, probably one of the most important decisions of my career & life.
                        </p>
                        <p>
                            Firstly, before getting into the nitty gritty’s, I just want to say Bala is an absolute gem of a person, my sessions with him felt more like talking to a friend who was wise, experienced, & well versed in his area of work rather than just some counselor.
                        </p>
                        <p>
                            Secondly, Bala guided me very well on the schools I should select and the ones that best fit my future goals & aspirations.
                        </p>
                        <p>
                            Thirdly, Bala’s approach to guiding me in jotting down my goals, and aspirations, as well as the essays was fantastic. I was compelled to think deeply, introspect & give concrete examples. An approach that I use to date whenever I want to write down my thoughts.
                        </p>
                        <p>
                            Bala is a wonderful mentor & I am deeply thankful for all the guidance you provided.
                        </p>
                        <p>
                            All the very best & do stay in touch
                        </p>
                        <p>
                            Your friendly neighborhood Bawa.
                        </p>
                    </div>
                    @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/meghajose/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/megha-jose.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Megha Jose</h4>
                            <p class="sub-txt-s">LBS (LBS, Chicago Booth, Stanford Fellows finalist, Kellogg etc) </p>
                            <p class="sub-txt-s">MBA Candidate at London Business School  | BK Birla Scholar</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            Bala was instrumental in helping me get interview calls from LBS, Wharton, Kellogg and Booth and admission into my top choice business school. He completely understood my goals and my vision and helped me put my thoughts down to paper effortlessly. With his in-depth knowledge and vast experience, he then guided me to understand what business schools expect which in turn transformed my application to one that would be good enough for a Top 10 B-school. I think it's safe to say that without Bala, I wouldn't be going to B-school this fall.
                        </p>

                    </div>
                    @*<a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/parth-biswas/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/partha-biswas.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Partha Biswas</h4>
                            <p class="sub-txt-s">MIT (100% Success Rate)</p>
                            <p class="sub-txt-s">Strategy & Transformation Executive I Startup Mentor I  COO I ACT Fibernet (TMT) I The Coca-Cola Company I MIT SLOAN</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            I had less than 3 weeks time and had absolutely no idea about the whole admission process, their requirements etc. This is when I spoke to Bala for the first time and by the end of my conversion, I was quite sure that if anyone has a few basic requirements in place, he can get the aspirant close to at least an interview call. He listens very carefully, keeps on questioning, keeps on pushing to get the best moment, achievement, experience from the aspirant and then help to build a story. Not only I could get my admission into the course and college of my choice, but also came to know a lot more about me, my strengths and blindspots and all these after working in for 18+ years. I always looked forward and loved those long conversations, though I had to finish a lot of homework given by him. Bala is definitely a guiding star if you are looking at a MIT/Stanford/Harvard/Wharton at any point of time in life.
                        </p>
                    </div>
                    @*<a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/anandavnish/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/avnish-a.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Avnish Anand</h4>
                            <p class="sub-txt-s">INSEAD (100% Success – INSEAD, Kellogg & Cambridge with Scholarships) </p>
                            <p class="sub-txt-s">Product Manager at Uber | INSEAD MBA | ex-Google</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            Bala helped me with my MBA application and was a great thought partner, and very knowledgeable about the various options in terms of universities, what each school looks for, and how I should best write my application to bring out these aspects. His feedback was timely, and he was a great second set of eyes to bring an outside perspective to my resume and applications.
                        </p>
                    </div>
                    @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>


            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/sahilbansal01/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/sahil-bansal.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Sahil Bansal </h4>
                            <p class="sub-txt-s">Ross (with Scholarship:100% success rate)   </p>
                            <p class="sub-txt-s">Senior Manager, S&OP Planning at Amazon</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>One stop solution to MBA application = Bal Krishna Shukla. </p>
                        <p>When I started my application, I was very much confused and less confident about my profile but after having lot of brainstorming session, he nicely brought the best things on surface and made my application valuable.</p>
                        <p>Signing Bala for my applications is one of my best decision that I not only got admit from Ross Business School (MSCM) but also received 5000$ scholarship.</p>
                        <p>Once again thanks for pushing me and making me confident.</p>
                    </div>
                    @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/vijayksangaraju/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/vijay-krishna-sangaraju.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Vijay Krishna Sangaraju</h4>
                            <p class="sub-txt-s">Duke (Fuqua, UCLA, CMU Tepper, USC etc Scholarships from EACH) </p>
                            <p class="sub-txt-s">Duke University STEM MBA 2024 | Business Intelligence & Marketing Analytics | Product | Finance</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            Working with Bala on the MBA application process has been a great experience. Bala is one of the few mentors who will question, guide, and motivate you to develop and submit a simple and strong application. He asks the right questions and shows great interest in knowing about your goals and life experiences. He helps you realize how each of your previous experiences shaped you into who you are. Being an expert, he provides you with the in and outs of the application process and how to position yourself to succeed.
                            Bala is committed to your success - He will review all the draft versions that you prepare and share what needs to be changed and why it needs to be changed. He will be available to talk to you whenever you have any questions. Most importantly, he shares his honest thoughts on the draft essays and is committed to helping you submit your best application. As a result of the above, I got to know more about myself while working with Bala and was able to develop a great MBA application. I got interview invites to all the 6 top 20 B-Schools I applied to, and I finally got admitted to 4 schools with scholarships ranging from $40K to $80K.
                            To summarize, the MBA application process is strenuous and it would have been difficult for me to navigate the process without the help of Bala. He has been and will be a great mentor and Admissions coach for me and many others.
                        </p>
                    </div>
                    @*<a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
           
        </div>
    </div>
</section>

