
@{
    ViewData["Title"] = "Pricing";
}

<section class="inner-widget">
    <div class="container">
        <h1 class="text-center home-h1">
            Specialized Masters &
            <span> PhD Applications</span>
        </h1>
        <div class="row">
            <div class="col-12 col-lg-8 price-left">
                <p>
                    Life is not all about MBAs. Engineers, Doctors, Scientists, Philosophers and Subject Specialists have each contributed in their own way. With top brand degrees from insitutions like MIT/ Stanford/ Columbia, Oxford, Cambridge, LSE, University of Toronto etc. can help you take your expertise to the Global Level.
                </p>
                <h2 class="mb-2">
                    <strong>
                        Included in the Specialized Masters Applications:
                    </strong>
                </h2>
                
                <ul class="order-list-1">
                    <li>
                        Complete redesign of your resume to highlight & strengthen your career accomplishments
                    </li>
                    <li>
                        Guidance to align your Short Term & Long Term Plans, the need for Specialized Masters, and In-depth insights into the admissions process.
                    </li>
                    <li>
                        Application strategy, Story Development, and School/Program Selection
                    </li>
                    <li>
                        Essay Brainstorming & UNLIMITED essay editing for differentiated, rockstar essays, that make YOU stand out.
                    </li>
                    <li>
                        Helping connect you with Students, Alums & Community
                    </li>
                    <li>
                        Support on who would be your best referees/recommenders for your Letters of Recommendation (LORs); Guidance and brainstorming on your life stories to help your referees, for LORs that enhance your application
                    </li>
                    <li>
                        Video essay Preparation
                    </li>
                    <li>
                        Interview preparation with Unlimited Mocks to turn your interview invites into Admissions
                    </li>
                </ul>
                <h2 class="mb-2">
                    <strong>
                        Transform your application approach with our 
                        Specialized Masters Admissions Package.
                    </strong>
                </h2>
                <ul class="order-list-2">
                    <li>
                        Comprehensive, Unlimited Hours Support tailored to your specialized Masters Applications
                    </li>
                    <li>
                        Single point of contact
                    </li>
                    <li>
                        Insider knowledge of what your Admissions Officers would like to see in you
                    </li>
                    <li>
                        Unlimited one-on-one support for admissions consulting
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <div class="price-card mr-15">
                    <div class="price-title">
                        <p>Packages (All prices are open to change)</p>
                        <span>
                            Buy up front and save
                        </span>
                    </div>
                    <div class="price-body">
                        <table width="100%" class="pc-s-1">
                            <tbody>
                                <tr>
                                    <td width="40%">1 School</td>
                                    <td width="60%">$1,199/ INR 89K*</td>
                                </tr>
                                <tr>
                                    <td width="40%">2 School</td>
                                    <td width="60%">
                                        $1,699/ INR 1.39L*
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-15">
                        <div class="popular-bx">
                            <p>Most Popular</p>
                            <div class="price-body">
                                <table width="100%" class="pc-s-1">
                                    <tbody>
                                        <tr>
                                            <td width="40%">3 School</td>
                                            <td width="60%">
                                                $1999/ INR 1.69 Lacs*
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%">5 School</td>
                                            <td width="60%">
                                                $2,689/ INR 2.19 Lacs*
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="40%">7 School</td>
                                            <td width="60%">
                                                $3,280/ INR 2.59L*
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mt-3 price-card-footer">
                            <p>
                                Each Additional School (bought separately) $599/ INR 50K*
                            </p>
                            <span>
                                Book early to save upto 15%
                            </span>
                            <p>
                                *   : Taxes Extra (For INR Payments)
                            </p>
                            <p>
                                **   : International payments exempt from Taxes
                            <p>
                                ***   : Rush pricing of upto 15% may apply
                            </p>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <section class="inn-text">
        <div class="container">
            <p>
                Whether you want a B-School education without getting into the MBA race, or you want to get into a specialized domain like Psycholggy, Architecture, Bio-Medicine, Sociology or such, Masters programs are gaining credence from top schools. Top programs in finance, data analytics, management, international management and accounting alone attract about 25% of B-school applicants. Among the most popular of these are:
            </p>
            <h2 class="mb-2 mt-2">
                <strong>
                    Master’s In Management Studies (MiM/ MMS) – One Year programs, best suited for RECENT College graduates, with low experience
                </strong>
            </h2>
            <p>
                MiM programs can impart  the skills and knowledge to enter or expedite your career trajectory into any industry at managerial levels. Leadership, Data-Analysis, Business Accounting, Management, Business strategy, Finance,  marketing research form the key modules/
                The MMS program at Kellogg, among the TOP global brands, lasts less than a year, and requires less than a year of work experience,. Even better, it can be combined with a one-year MBA program. You can specialize in Management, Business Strategy, Accounting, etc

            </p>
            <p>
                Similarly, the MMS by Duke’s Fuqua School of Business focuses on Business Analytics for recent college graduates seeking a foundation in multiple business disciplines.
            </p>
            <p>
                MIM programs, also offered aby several top schools, often focuses on Management roles at global companies: and marries global workforce management knowledge, with skill-upgrades offered to bridge local and international operations.
            </p>
            <h2 class="mb-2 mt-2">
                <strong>
                    Master’s In Finance (MFin) / Financial Analysis programs (STEM Designated, 12-18 months)
                </strong>
            </h2>
            <p>
                
                MFin (Modules are quite similar to Financial Analysis programs) helps its graduates to enter a broad range of career opportunities in financial institutions, corporations, consulting firms, public sector, and fintech. Students learn about corporate finance, public finance, mergers and acquisitions: Most schools tout a combination of financial theory and practical application of quantitative methods.
            </p>
            <p>
                At MIT Sloan, for example, the MFin program offers an 18-month <strong>STEM-designated curriculum</strong>, with the option for an accelerated 12-month program. The school describes the program as “emphasizing a foundation in how markets work and engineered around the most advanced financial theories, quantitative models, and industry practices.” Sloan’s program offers concentrations in fields such as financial engineering and capital markets.

            </p>
            <p>
                Texas McCombs’s MFin program, also top-ranked, is considered a “first degree in finance” program (so it is not for people who already have an undergraduate finance degree). It offers courses on managerial economics and investment theory, a practicum with a sponsoring company, and intense interaction with industry leaders.
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Product Management
                </strong>
            </h2>
            <p>
                The MS in Product Management prepares people to serve in a product development role in tech-driven companies. At Tepper, for example, the program teaches customer-mindedness, leadership of cross-functional teams, and the ability to deliver value. A STEM-designated program, it is offered through CMU’s School of Computer Science and Tepper.
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Accounting
                </strong>
            </h2>
           <p>
                Perfect for building a career in accounting, this program, also for recent college graduates, prepares students in hard skills such as financial reporting, auditing, and tax strategy, and soft skills such as communications and leadership. Kenan-Flagler at UNC touts its top-rated program as giving students “fluency with the principles and practice of accounting.
           </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Marketing (Or Marketing Science)
                </strong>
            </h2>
            <p>
                This degree is designed for people interested in making a career in branding or marketing, with related data analytics and communications skills. Students study topics including Consumer Insights and Analytics, Messages and Content, Media, and Customer Relationship Management. Among the top-ranked programs are those of Columbia Business School, Northwestern, Johns Hopkins, and Texas A&M.
            </p>
            <p>
                The Master of Science in Marketing Science at Columbia, for example, prepares students for careers in the growing field of market research (or other professions in marketing analytics) across a broad array of industries including multi-channel retailing, consumer products and services, media and entertainment, and consulting. Students study market analytics, statistical modeling, and market intelligence.
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Integrated Innovation For Products And Services
                </strong>
            </h2>
            <p>
                Tepper’s Master of Integrated Innovation for Products and Services (MIIPS) degree, in a 9-month and a 16-month version, trains “the next generation of innovators, design thinkers, disruptors, and world changers,” the school says. The program teaches students to tackle problems at the intersection of business, design, and engineering: Integrated Product Development is the prototyping capstone.
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Healthcare Transformation (Or Management)
                </strong>
            </h2>
            <p>
                This program is designed for people interested in hospital administration, healthcare services management, or other careers at the intersection of business and healthcare. At McCombs, for example, the MHT is designed for healthcare professionals “who want to lead change in existing organizations, become transformational leaders, and create high-value services in the health sector.” 
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Data Analytics Or Business Analytics (9 Months duration, NO Experience required)
                </strong>
            </h2>
            <p>
                Usually lasting nine months, these programs are designed for recent college graduates with little or no work experience who are passionate about data, want to deepen their analytical skills and move into sought-after business analyst positions.
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Global Business & Society (9 month duration,  follows a MiM at any member Global Network School)
                </strong>
            </h2>
            <p>
                Also offered at Yale SOM, this master’s program gives students the tools to work in global organizations. The 9-month program follows a master’s in management program at any of the schools in the Global Network for Advanced Management, which includes 32 top business schools in 30 countries around the world. The curriculum spans business ethics, financial reporting, an entrepreneurship lab, and digital strategy.
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Systemic Risk, Public Education Management, Advanced Management, Asset Management, and Global Business and Society
                </strong>
            </h2>
            <p>
                (Usually for for mid- or advanced career professionals)
                Offered by Yale SOM and NYU Stern, among others (Johns Hopkins offers a similar program online through its School of Advanced International Studies), the Master of  Systemic Risk degree is geared to bank or regulatory agency professionals to gain exposure to leading ideas in macroprudential policy, financial crisis management, global financial regulation, monetary economics, crisis communications, and central banking.
            </p>
            <h2 class="mb-2">
                <strong>
                    Master’s In Public Education Management
                </strong>
            </h2>
            <p>
                (Tuition-free 14-month program for “early- to mid-career school system leaders with extraordinary leadership potential who are working and who wish to increase their impact in key K-12 systems)
                The Master of Public Education Management—another specialized master’s program offered at Yale SOM—gives highly motivated, accomplished K-12 education professionals the skills and broad perspective to grow as education leaders.
            </p>
        </div>
    </section>
    <section class="inner-testimonial">
        <div class="container">
            <h1 class="text-center home-h1">Our <span>Testimonials</span></h1>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="item-title">
                        Masters Programs Review
                    </div>
                    <a target="_blank" href="https://www.linkedin.com/in/somendra-tripathi/">
                        <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                    </a>
                    <div class="test-box test-box-2">
                        <div class="d-flex align-items-center">
                            <div class="profile-image">
                                <img src="~/images/somendra-tripathi.jpg" alt="image" />
                            </div>
                            <div>
                                <h4>Somendra Tripathi </h4>
                                <p class="sub-txt-s">Columbia, UPenn, Minnesota, Duke (Data Sciences)   </p>
                                <p class="sub-txt-s">Senior Data Scientist</p>
                            </div>
                        </div>
                        <div class="testm-txt">
                            <p>
                                “Bal knows this process in and out.” He can guide you in figuring out what’s achievable and what‘s not.
                                He is direct and forthright and won’t hesitate to tear down hours of work if he deems necessary. You will end up revisiting, re-writing and reviewing the same documents multiple times but don’t worry he knows what he is doing. If you plan to take this gargantuan journey with him rest assured that you will get your best shot to your desired goal.
                            </p>
                            <p>
                                Personally, I learned a lot from him in the process. His work – ethics, and professionalism are desirable qualities any working professional should strive to develop. Additionally, learning how to make good resumes is a lesson for life. some counselor.
                            </p>
                        </div>
                       @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                            See More...
                        </a>*@
                    </div>
                </div>

                <div class="item">
                    <div class="item-title">
                        Masters Programs Review
                    </div>
                    <a target="_blank" href="https://www.linkedin.com/in/janhavi-nistane-9a105b140/">
                        <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                    </a>
                    <div class="test-box test-box-2">
                        <div class="d-flex align-items-center">
                            <div class="profile-image">
                                <img src="~/images/janhavi-nistane.jpg" alt="image" />
                            </div>
                            <div>
                                <h4>Janhavi Nistane  </h4>
                                <p class="sub-txt-s">Georgia Tech     </p>
                                <p class="sub-txt-s">GT PhD Candidate || Matmerize || VNIT Nagpur' 20</p>
                            </div>
                        </div>
                        <div class="testm-txt">
                            <p>
                                Bala has been phenomenal with his guidance to my admission process for MS/ PhD. I got itno 4 schools, including my dream places, UPenn for MS and Georgia Tech for a fully funded PhD, the results speak for themselves.
                            </p>
                            <p>
                                Bala has a great eye for detail, I remember we made over 15 iterations to my resume and rewrote the SOP over and over again for each college. His drive to achieve the absolute best was unrelenting. He contributed hours perfecting every line in my SOP.
                            </p>
                            <p>
                                For Georgia Tech, I decided last minute that i wanted to apply, that too opt for the PhD option. Bala was amazing, he poured over the smallest details with me, and only went to bed after I submitted my application, which was around 4 AM. The same was true for MIT, another last minute decison of mine.I received an admit with full funding for Georgia Tech PhD, and I am positive it was Bala's inputs that made the difference.
                            </p>
                            <p>
                                Bala's commitment to his work was inspiring. He has been a huge support emotionally as well, making sure I did not get weighed down due to rejects. Through his work, I was confident that I was presenting my best foot forward in the application process. He still helps with my queries relating to admissions and visa issues, in these uncertain times of the pandemic. It has been a pleasure and honor to work with Bala, he is an exceptional mentor for the admission process.
                            </p>
                        </div>
                        @*<a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                            See More...
                        </a>*@
                    </div>
                </div>

                <div class="item">
                    <div class="item-title">
                        Masters Programs Review
                    </div>
                    <a target="_blank" href="https://www.linkedin.com/in/anishdeva/">
                        <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                    </a>
                    <div class="test-box test-box-2">
                        <div class="d-flex align-items-center">
                            <div class="profile-image">
                                <img src="~/images/anish-deva.jpg" alt="image" />
                            </div>
                            <div>
                                <h4>Anish Deva   </h4>
                                <p class="sub-txt-s">Carnegie Mellon, Georgia Tech, Missouri Science & Tech    </p>
                                <p class="sub-txt-s">Software Engineer at Leidos</p>
                            </div>
                        </div>
                        <div class="testm-txt">
                            <p>
                                His guidance has been a shining light on the path to my goals. Seeking his help, when i chose to pursue graduate studies, i learnt how to transform words into meaningful text. Moreover his methods don't just suggest how to think but instigate a way of thinking that makes for effective communication. The level at which he personally involves himself, with all of the tasks, itself instills a certain confidence towards their accomplishment. An accomplishment i experienced with admits to five universities which included Carnegie Mellon University and Columbia University.
                            </p>
                        </div>
                       @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                            See More...
                        </a>*@
                    </div>
                </div>

                <div class="item ">
                    <div class="item-title">
                        Masters Programs Review
                    </div>
                    <a target="_blank" href="https://www.linkedin.com/in/anshuj-deva/">
                        <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                    </a>
                    <div class="test-box test-box-2">
                        <div class="d-flex align-items-center">
                            <div class="profile-image">
                                <img src="~/images/anush-deva.jpg" alt="image" />
                            </div>
                            <div>
                                <h4>Anshuj Deva  </h4>
                                <p class="sub-txt-s">Georgia Tech, Dartmouth, TUDelft, Univ of Southern California  </p>
                                <p class="sub-txt-s">Biomedical Engineer | Data Analysis | Product Development | Technology Commercialization</p>
                            </div>
                        </div>
                        <div class="testm-txt">
                            <p>
                                I have had the pleasure of working with Bala through Admissions Gateway. With his help I have been able to reach my dream college to further grow in my career. Out of the 5 dream universities I applied to, I was able to get admit from 3 of them. While, the other two offered conditional admits. Now, I am the only person from my batch to be pursuing Biomedical Engineering at Georgia Tech. Though Bala has a background in a completely different field, he was patient enough to hear and understand my aspirations. Further, instead of drawing out my path for me, what he provided was fabulous consultation which instilled self-realization. This has been most beneficial as my interaction with him has made me learn a whole lot more than what the application required. I now put some extra thought behind most of my interactions and it happens to pay off in the best way. His patient hearing, ability to comprehend what the other person is trying to say, his vision and most of all his understanding of what a good application looks like makes him an apt guide for the application process.
                            </p>
                        </div>
                       @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                            See More...
                        </a>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</section>


