
@{
    ViewData["Title"] = "OneTimeEntireApplicationCheck";
}

<section class="inner-widget">
    <div class="container">
        <h1 class="text-center home-h1 mb-0">One Time  <span>Entire Application Check</span></h1>

        <div class="row mt-30">
            <div class="col-12 col-lg-6 price-left">
                <h2 class="mb-2">
                    <strong>
                        Included in the  One Time Entire Application Check 
                    </strong>
                </h2>
                <p>
                    Your resume, application essays and short answers will be reviewed to ensure your story presents a consistent theme, flows well with your goals and answers are polished enough to maximize the chances of an interview invite.

                </p>
                <p>
                    Your package gets you:
                </p>
                <ul class="order-list-1">
                   <li>
                        One time review, and an overall assessment of the strength of your application.
                   </li>
                   <li>
                        One round of edits of the resume and all required essays.
                   </li>
                    <li>
                        Application Mistakes highlighted and key areas to improve.
                    </li>
                    <li>
                        Key recommendations (ONE time) and next steps to improve your application for.
                    </li>
               </ul>
               <div class="mt-3">
                   <img src="~/images/in-image-2.jpg" alt="image" class="w-100" />
               </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="price-card">
                    <div class="p-4 ">
                        <h6 class="in-bx-txt ">
                            Application checks are mostly reality checks, and by themselves may not prove enough for admission; they mostly increase your accuracy,
                            and often your articulation. At $149/INR 11,595* per school, the fee covers most applications but additional last-minute rush-pricing may apply.

                        </h6>
                        <p class="web-txt mt-3"><strong>Ready for you MBA application review ?</strong></p>
                        <div class="d-flex align-items-center mt-3"><a class="btn btn-primary mr-15" href="/ContactUs"><strong>Contact Us</strong></a> <p class="web-txt">to confirm availibility.</p></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="inner-testimonial">
    <div class="container">
        <h1 class="text-center home-h1">Our <span>Testimonials</span></h1>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/ameyakhullar/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/ameya.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Ameya Khullar</h4>
                            <p class="sub-txt-s">MBA Candidate - UNC Kenan-Flagler Business School, Class of 2024  </p>
                            <p class="sub-txt-s">Dean’s Fellow | Forte Fellow</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            Bala is someone who knows what he's doing and believes in reality versus fiction.
                            He is a straight shooter and you can always rely on him even at the last minute.
                        </p>
                        <p>
                            We worked on a few colleges and I would throughly reccomend him for sharpening goals and resume writing (probably the best in the market.
                        </p>
                    </div>
                    @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/sarthakdoshi/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/sarthak-doshi.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Sarthak Doshi </h4>
                            <p class="sub-txt-s">Founder at  Remigos | MBA, London Business School   </p>
                            <p class="sub-txt-s">We're hiring! | CA, CFA</p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            Bala helped me with my college application. He is a very easy going person and has great knowledge about his profession. Interacting with him helped me get through the nerve wracking process of the application. Great at editing and great in providing the guidance through the otherwise hard to crack process. I am sure he will not let you down. With his help I got interview calls in all colleges I targeted with him i.e. Oxford, Cambridge and LBS.
                        </p>
                    </div>
                    @* <a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            <div class="item">
                <div class="item-title">
                    MBA Programs Review
                </div>
                <a target="_blank" href="https://www.linkedin.com/in/akshatkamath/">
                    <img src="~/images/linkdin-2.svg" alt="icon" class="link-top" />
                </a>
                <div class="test-box">
                    <div class="d-flex align-items-center">
                        <div class="profile-image">
                            <img src="~/images/akshat-kamath.jpg" alt="image" />
                        </div>
                        <div>
                            <h4>Akshat Kamath</h4>
                            <p>
                                Accenture | Coca-Cola I IIM-Bangalore I Bosch
                            </p>
                        </div>
                    </div>
                    <div class="testm-txt">
                        <p>
                            Bala sir was an absolute inspiration to work with while trying to realize my dream of pursuing my MBA. Got calls from almost every college that I applied to. His passion, dedication, hardwork and ownership towards ensuring that a student gets his application perfect is something so rare, that he has definitely made me learn some critical traits of a leader that I personally would like to imbibe in my career ahead.

                        </p>
                        <p>
                            Words probably cannot describe this impact, since I have learned from him far more than a mere MBA aspirant can aspire to learn. pls do pm me to know more if needed.
                        </p>

                    </div>
                    @*<a onclick="OpenDetail(this)" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                    See More...
                    </a>*@
                </div>
            </div>
            


            


            

           

        </div>
    </div>
</section>

