@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
 }




<section class="grid-widget">
    <div class="container">
        <h1 class="home-h1 text-center">Most Recommendations From <br /> <span>Real People On<br /> LinkedIn </span></h1>
        <div class="d-flex justify-content-between flex_wrap">
            <div  class="tam-bx ">
                <div class="text-center">
                    <img src="images//consulting-service-3.png" class="w-100" alt="icon">
                </div>
                <div class="grid-overlay">
                    <h5>
                        Comprehensive Packages (One-to-One Handholding from School selection to Acceptance)
                    </h5>
                    <p>
                        Unlimited support, that helps you outline your goals, with frank, insider feedback along the way to help you develop MBA application essays that get you in.

                    </p>
                    <a href="/Pricing/ComprehensivePackage">Read More...</a>
                </div>
            </div>
            <div  class="tam-bx rmt-15">
                <div class="text-center">
                    <img src="images/profile-evaluation.png" class="w-100" alt="icon">
                </div>
                <div class="grid-overlay">
                    <h5>
                        Hourly Packages<br /> (In blocks of 1 hour each)
                    </h5>
                    <p>
                        Stuck? On a budget? Just need a couple of hours? Emergency feedback on your interviewing style? Get expert advice… (Usually, only ONE item can be covered in one package)
                    </p>
                    <a href="/Pricing/HourlyPackages">Read More...</a>
                </div>
            </div>
            <div class="tam-bx rmt-15 tam-mb-10">
                <div class="text-center">
                    <img src="images/cs-service.jpg" class="w-100" alt="icon">
                </div>
                <div class="grid-overlay">
                    <h5>One Time <br /> Entire Application Check</h5>
                    <p>
                        You have worked hard for months; Your Scores are good; but do your resume, essays, and overall application present a strong story?
                        Before submitting the applications therefore, you want to have an expert review them for the alignment of your career goals, your 
                        resume and more, and give you brutal, honest edits, and recommendations.

                    </p>
                    <a href="/Pricing/OneTimeEntireApplicationCheck">Read More...</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex_wrap mt-60">
            <div class="tam-bx tam-mb-10">
                <div class="text-center">
                    <img src="images/consulting-service-4.png" class="w-100" alt="icon">
                </div>
                <div class="grid-overlay">
                    <h5>
                        Interview Preparation With <br /> Real Interview Questions
                    </h5>
                    <p>
                        Did you KNOW that Between 50% to 75% of the applicants with Interview Invites get REJECTED every year.
                        Whether it is because they felt too burnt out or OVERCONFIDENT, the results are equally bad.
                        ACING the Admissions Interview gives you better chances at scholarships. Our Mock-interviews, with REAL interview questions help prepare you for greater confidence, and work out the best answers for each question.
                    </p>
                    <a href="/Pricing/InterViewPreperation">Read More...</a>
                </div>
            </div>
            <div class="tam-bx tam-mb-10">
                <div class="text-center">
                    <img src="images/consulting-service-5.jpg" class="w-100" alt="icon">
                </div>
                <div class="grid-overlay">
                    <h5>
                        Executive MBA  <br /> Admissions Consulting
                    </h5>
                    <p>
                        You thought ALL eMBA programs are only weekend programs?
                    </p>
                    <p>Think again… </p>
                    <p>We have placed aspirants into top global eMBA programs including MIT.</p>
                    <p>You have talent, experience and have performed well, You are clearly much above average, but your career needs the executive MBA push.</p>
                    <a href="/Pricing/ExecutiveMBA">Read More...</a>
                </div>
            </div>

            <div class="tam-bx tam-mb-10">
                <div class="text-center">
                    <img src="images/consulting-service-6.jpg" class="w-100" alt="icon">
                </div>
                <div class="grid-overlay">
                    <h5>
                        Low Cost, High Touch   <br /> Group Sessions for MBA Aspirants
                    </h5>
                    <p>
                        MBA Applications don’t have to be expensive for good advice You have talent, good GMAT/GRE Scores, and understand things faster. You can save a lot of Money
                    </p>
                    <a href="/Pricing/LowCostHighTouch">Read More...</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex_wrap mt-60">
            <div class="tam-bx ">
                <div class="text-center">
                    <img src="images/in-image-4.jpg" class="w-100" alt="icon">
                </div>
                <div class="grid-overlay">
                    <h5>
                        Specialized Masters &
                        <br /> PhD Applications
                    </h5>
                    <p>
                        Business is just not your thing, and you have always wanted to be a Research Scientist OR a BioChemist OR an Environmentalist OR a Public Policy Advocate and so on, and you want to excel in a specialized Master’s degree.
                        A good application can present your story powerfully, and help you target World’s top names like Harvard, Chicago, University or Pennsylvania, but also help you get scholarships, and we can help
                    </p>
                    <a href="/Pricing/index">Read More...</a>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Profile Evaluation Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog form-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Applying To Business School</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_data" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-4">
                                <label>Full Name</label>
                                <input id="fullname" required type="text" name="fullname" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6 mb-4">
                                <label>Mobile Number</label>
                                <input id="mobilenumber" required type="text" name="mobile" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6 mb-4">
                                <label>Email</label>
                                <input id="email" required type="text" name="email" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6 mb-4">
                                <label>Resume</label>
                                <input  required id="resume" name="resume" type="file" accept="application/pdf,application/msword" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6 mb-4">
                                <label>Linkdin Bio</label>
                                <input required id="linkedInBio" type="text" name="linkdinBio" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6 mb-4">
                                <label>UG % age / CGPA</label>
                                <input id="Ug_cgpa" required type="text" name="ug_cgpa" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6 mb-4">
                                <label>Masters % age / CGPA (if available)</label>
                                <input id="master_cgpa" type="text" name="master_cgpa" class="form-control">
                            </div>
                            <div class="col-12 col-lg-6 mb-4">
                                <label>GMAT/GRE Score (if available)</label>
                                <input id="gmatscore"  type="text" name="gmatScore" class="form-control">
                            </div>
                        </div>
                        <div>
                            <h5>Target Schools/Programs/Countries</h5>
                            <p>
                                Please mention any specific schools/programs/countries that you are keen on targetting.
                            </p>
                            <p>
                                We will help you evaluate more suitable options during our "School evaluation and shortlisting discussion" included with all our application builder packages.
                            </p>
                            <textarea required id="target" class="form-control mt-3" name="targetedSchool" rows="3"></textarea>
                        </div>
                        <div class="mt-3">
                            <label>Your Query</label>
                            <textarea id="query" required class="form-control" name="query" rows="3"></textarea>
                        </div>
                        <div class="mt-4 text-center">
                            <button id="Submit" class="btn btn-primary" >Submit</button>
                        </div>
                        </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/validation.js"></script>
<script src="~/js/loader.js"></script>
 
<script>
    $(document).ready(function(){
        $("#Submit").click(function (e) {
            var mobile=$("#mobilenumber").val();
     var fullname=$("#fullname").val();
     var email=$("#email").val();
     var resume=$("#resume").val();
     var linkedInBio=$("#linkedInBio").val();
     var Ug_cgpa=$("#Ug_cgpa").val();
     var target=$("#target").val();
     var query=$("#query").val();
     if(mobile=='' || fullname=='' || email=='' || !resume || linkedInBio=='' || Ug_cgpa=='' || target=='' || query=='')
     {
         return true;
     }
    var data = new FormData();

    data.append('fullname',fullname);
    data.append('mobile',mobile);
    data.append('email',email);
    data.append('linkdinBio',linkedInBio);
    data.append('ug_cgpa',Ug_cgpa);
    data.append('master_cgpa',$("#master_cgpa").val());
    data.append('gmatScore',$("#gmatscore").val());
    data.append('targetedSchool',target);
    data.append('query',query);
    
    var file_data = $('input[name="resume"]')[0].files[0];
    data.append("resume",file_data);

    try
    {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200)
            {
                loader(0);
                window.location.href="/ThankYou"
            }
        };
        xhttp.open("POST", "/ContactUs/ContactToAdmin");
        xhttp.send(data);
        loader(1);
        return false;
    }
    catch(ex){
    
    }
        })
    })

$('#resume').on( 'change', function() {
    
   myfile= $( this ).val();
   var ext = myfile.split('.').pop();
   if(ext=="pdf" || ext=="docx" || ext=="doc"){

   } else{
       alert("only accept pdf/docx/doc type file")
       $( this ).val('');
   }
});
</script>
