@{
    ViewData["Title"] = "About us";
}
@*<div class="front-wrap inner-wrap d-flex align-items-center">
        <header class="d-flex justify-content-between align-items-center transition">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <div>
                        <a href="index.html" class="txt-logo">
                            <h3>The <strong>Ivy League</strong> Edge</h3>
                        </a>
                    </div>
                    <div class="d-flex align-items-center p-relative">
                        <div>
                            <div class="h-links">
                                <ul class="d-flex align-items-center ">
                                    <li>
                                        <a class="transition a-link" href="index.html">Home</a>
                                    </li>
                                    
                                    <li>
                                        <a class="transition a-link" href="pricing.html">Pricing</a>
                                    </li>
                                    <li>
                                        <a class="transition a-link" href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a class="transition a-link" href="contact-us.html">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:;" class="h-ham">
                                <img src="images/Menu_button.svg" alt="Hamburger Image" />
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div> 
        </header>
        <div class="fade-overlay"></div>
        <div class="toggle-widget">
            <a href="javascript:;" class="toggle-close">
                <img src="images/close.svg" alt="Close Icon" />
            </a>
            <div class="toggle-menu">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="about-us.html">About Us</a>
                    <li>
                        <a href="contact-us.html">Contact Us</a>
                    </li>
                   
                </ul>
            </div>
            <h1>About Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis 
                quisquam rerum voluptatum a ducimus ipsa nesciunt 
                ullam dicta magni placeat esse.
            </p>
            <h1>Contact Us</h1>
            <ul class="toggle-list">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis </li>
                <li>+91- 123456, +91-67890</li>
                <li>www.abcdlorem.in</li>
            </ul>
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="images/twitter.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="images/facebook.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="images/linkdin.svg" alt="icon">
                        </a>
                    </li>
                    <!-- <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="images/pintrest.svg" alt="icon">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="sc-links">
                            <img src="images/instagram.svg" alt="icon">
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="trngle-top"></div>
        <div class="trngle-left-inner"></div>
        
        <div class="container">
            <div class="d-flex align-items-center justify-content-center mt-80">
                <h1 class="in-bn-txt">About Us</h1>
            </div>
        </div>
    </div>*@
    @*<h1 class="in-bn-txt align-items-center">AboutUs</h1>*@
    <section class="inner-widget">
        <div class="container">
            <h1 class="home-h1 text-center mb-0">About <span>Us</span> </h1>
            <p class="ab-sub">“The Ivy League Edge” was founded, and is headed by Bala, himself an alumnus of Yale SOM </p>
            <div class="text-center ab-linkdin">
                <a href="https://www.linkedin.com/in/balkrishna/" target="_blank"><img src="~/images/linkdin-2.svg" alt="image" /></a>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="about-card">
                        <div class="card-top-back"></div>
                        <div class="exp-card">
                            <div class="text-center">
                                <h3>25+</h3>
                                <p>Years</p>
                                <p>Experience</p>
                            </div>
                        </div>
                        <img src="images/about-us.jpg" alt="image" class="w-100" />
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <div class="right-abt">
                        
                        <p>
                            Before starting “The Ivy League Edge”, he worked corporate jobs across domains and industries, including in Corporate Strategy for large businesses. During his time in Admissions Consulting however, he has helped candidates in various stages for MBA, MS and Fellow Programs to top global universities. His clients have included Fresh College Graduates, MBA candidates, Experienced Veterans (incl. Col in the Army, CO on Naval Ships etc.), Govt officers incl. RPF Commissioner, COO of USD 1Bn Valuation firms and many more.
                        </p>
                        <p>
                            Bala is also the <strong>Most recommended (50+ Recommendations) Admissions Coach on LinkedIn</strong> for top 30 Grad Programs (MBA & MS), thanks to his delighted clients, their admissions to dream schools, and huge scholarships.
                        </p>
                        <p>
                            In his time-off, Bala works on a Social Impact Cause for education of the Underprivileged, and chairs an effort called YesGuruJi.com. He is also a Limca Record Holder for Rappelling, and is an Ultra-Marathoner (Runs longer than full-marathons). He is also a proud keeper of local dogs, rescued and adopted from the streets. But above all, he takes pride in the hundreds of students who credit him with guiding them well for life.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    