


@media screen and (min-width: 1200px) and (max-width: 1366px) {
    .trngle-top{border-left: 120px solid transparent;border-top: 240px solid var(--theme-color);}
    .pd-130 {
        padding-top: 120px;
    }
    .trngle-bottom {
        bottom: -1010px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .container{
        max-width:1100px;
      }
    .trngle-top{border-left: 91px solid transparent;border-top: 205px solid var(--theme-color);}
    .tam-bx {
        box-shadow: 0 2px 6px -1px rgba(0,0,0,.16), 0 6px 18px -1px rgba(0,0,0,.1);
        border-radius: 5px;
        max-width: 312px;
        width: 100%;
        position: relative;
        transition: .5s;
        overflow: hidden;
    }
   
}
@media screen and (min-width:992px) and (max-width:1023px) {
    .tam-bx .text-center {
        min-height: 275px;
    }

    .h-links ul li .a-link {
        font-size: 1.5rem;
        color: #fff;
        padding: 30px 15px;
    }

    .txt-logo h3 {
        font-size: 3rem;
        color: #fff;
        font-weight: 600;
    }

    .txt-logo h4 {
        color: #fff;
        font-size: 2.4rem;
        padding-left: 138px;
    }

    .banner-title h1 {
        font-size: 21px;
        text-align: center;
        margin-bottom: 15px;
        background: var(--theme-color);
        color: #000;
        width: auto;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 2px;
    }
    .grid-widget {
        padding: 35px 0 35px 0;
    }
    .tam-bx {
        box-shadow: 0 2px 6px -1px rgba(0,0,0,.16), 0 6px 18px -1px rgba(0,0,0,.1);
        border-radius: 5px;
        max-width: 313px;
        width: 100%;
        position: relative;
        transition: .5s;
        overflow: hidden;
    }
}

@media screen and (min-width:858px) and (max-width:992px){
    .tam-bx .text-center {
        min-height: 275px;
    }

    .h-links ul li .a-link {
        font-size: 1.5rem;
        color: #fff;
        padding: 30px 15px;
    }

    .txt-logo h3 {
        font-size: 2.6rem;
        color: #fff;
        font-weight: 600;
    }

    .txt-logo h4 {
        color: #fff;
        font-size: 2.4rem;
        padding-left: 62px;
    }

    .banner-title h1 {
        font-size: 21px;
        text-align: center;
        margin-bottom: 15px;
        background: var(--theme-color);
        color: #000;
        width: auto;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 2px;
    }

    .grid-widget {
        padding: 35px 0 35px 0;
    }

    .tam-bx {
        box-shadow: 0 2px 6px -1px rgba(0,0,0,.16), 0 6px 18px -1px rgba(0,0,0,.1);
        border-radius: 5px;
        max-width: 272px;
        width: 100%;
        position: relative;
        transition: .5s;
        overflow: hidden;
    }
        .tam-bx .text-center {
            min-height: 234px;
        }
    .home-h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
        position: relative;
        z-index: 1;
    }
}

@media screen and (min-width:767px) and (max-width:858px){
    .tam-bx .text-center {
        min-height: 275px;
    }

    .h-links ul li .a-link {
        font-size: 1.5rem;
        color: #fff;
        padding: 30px 15px;
    }

    .txt-logo h3 {
        font-size: 2.6rem;
        color: #fff;
        font-weight: 600;
    }

    .txt-logo h4 {
        color: #fff;
        font-size: 2.4rem;
        padding-left: 62px;
    }

    .banner-title h1 {
        font-size: 21px;
        text-align: center;
        margin-bottom: 15px;
        background: var(--theme-color);
        color: #000;
        width: auto;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 2px;
    }

    .grid-widget {
        padding: 35px 0 35px 0;
    }

    .tam-bx {
        box-shadow: 0 2px 6px -1px rgba(0,0,0,.16), 0 6px 18px -1px rgba(0,0,0,.1);
        border-radius: 5px;
        max-width: 234px;
        width: 100%;
        position: relative;
        transition: .5s;
        overflow: hidden;
    }
    .tam-bx .text-center {
        min-height: 195px;
     }
     .tam-bx h5 {
        color: #000;
        font-weight: 600;
        font-size: 1.4rem;
        margin: 0;
        height: 35px;
        display: flex;
        align-items: center;
      }
    
}

@media screen and (max-width: 767px) {

    .trngle-bottom {
        border-top: 160px solid transparent;
        border-bottom: 580px solid transparent;
        bottom: -510px;
        left: -250px;
    }

    .hl-2 {
        font-size: 3rem;
    }

    .h-links {
        /* position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background: #000;
        width: 100%;
        z-index: 999; */
        display: none;
    }
    /* .h-links ul{
        flex-direction: column;
        height:100%;
        align-items: start!important;
    } */
    .seo-widget {
        margin-top: 20px
    }

    .hl-1 {
        font-size: 1.5rem;
    }

    .seo-bx {
        max-width: none
    }

    .banner-txt {
        margin-top: 110px;
    }

    .hl-3 {
        font-size: 1.4rem;
        margin-top: 15px;
    }

    .home-h1 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .bx-widget {
        padding: 15px 0
    }

    .bx-info {
        width: 50%;
        padding: 15px;
        background-color: #fff;
    }

    .bx-icon img {
        width: 36px
    }

    .bx-info h3 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .bx-info p {
        font-size: 1.4rem;
        line-height: 20px
    }

    .bx-border {
        border: 1px solid #f5f5f5;
    }

    .front-wrap {
        background-position: -550px 100px;
    }

    .h-ham {
        z-index: 99;
        position: relative;
    }

    .career-widget, .team-widget {
        padding: 15px 0
    }

    .job-l-bx h3, .a-txt {
        font-size: 1.5rem;
    }

    .flex_wrap {
        flex-direction: column;
    }

    .job-l-bx {
        padding: 15px
    }

    .btn {
        padding: 7px 15px;
        font-size: 1.3rem;
    }

    .rmt-15 {
        margin-top: 15px
    }

    .job-l-bx p, .blog-bx p {
        font-size: 1.4rem;
    }

    .a-txt {
        font-size: 1.4rem;
    }

    .mb-hide {
        display: none;
    }

    .margin-cntrl-1 {
        margin-top: 50px;
    }

    .fnt-17 {
        font-size: 1.4rem;
    }

    .blog-widget {
        padding-top: 15px
    }

    .blog-bx .blog-title {
        font-size: 1.7rem;
    }

    .testm-bx {
        width: 50%
    }

        .testm-bx img {
            width: 50px;
        }

        .testm-bx h4 {
            font-size: 2.5rem;
        }

        .testm-bx p {
            font-size: 1.5rem;
        }

    .achv-sectn {
        padding-top: 15px;
        padding-bottom: 115px;
    }

    .nwsl-widget h1 {
        font-size: 2rem;
    }

    .nwsl-widget p {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    .nwsl-widget {
        padding: 15px;
        max-width: 350px;
    }

    .form-nw button {
        font-size: 1.4rem;
    }

    .ft-max {
        background: #1a1a1a;
        width: 100%;
        max-width: none;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #686868;
    }

    .ft-listing li a, .ft-txt {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 500
    }

    footer h3 {
        font-size: 1.7rem;
        font-weight: 600;
        margin-top: 0
    }

    footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .h-logo {
        width: 200px
    }

    .toggle-menu ul li a {
        font-size: 1.9rem
    }

    .toggle-widget h1 {
        font-size: 2rem;
        margin-top: 15px;
    }

    .trngle-top {
        display: none;
    }

    .drop-sub {
        display: block;
    }

    .drop-sub {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        height: 100vh;
        overflow: auto;
        display: none;
    }

    .d-block {
        display: block;
    }

    .drop-close {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        width: 40px;
        height: 40px;
        background-color: var(--theme-color);
        align-items: center;
        justify-content: center;
    }

        .drop-close img {
            width: 20px
        }

    .toggle-close {
        width: 40px;
        height: 40px;
    }

        .toggle-close img {
            width: 20px;
        }

    .z-index-0 {
        z-index: 0;
    }

    .txt-logo h3 {
        font-size: 2.4rem;
        color: #fff;
        font-weight: 600;
    }

    .h-ham img {
        width: 40px;
    }

    .profile-image {
        width: 80px;
        height: 80px
    }

    .test-box h4, .see-more-modal h4, .tam-bx h5 {
        font-size: 1.7rem;
    }

    .test-box p, .see-more-modal p {
        font-size: 1.5rem;
    }

    .testm-txt p, .tam-bx p {
        font-size: 1.5rem;
    }

    .link-top {
        width: 30px !important;
    }

    .grid-widget, .inner-widget {
        padding: 15px 0
    }

    .rmt-15 {
        margin-top: 15px
    }

    .tam-bx {
        max-width: none;
    }

    .in-bn-txt {
        font-size: 2.5rem;
    }

    .sub-h {
        font-size: 1.5rem;
    }

    .price-card {
        max-width: none
    }

    .mr-15 {
        margin-right: 0;
    }

    .ml-15 {
        margin-left: 0;
    }

    .price-card-body {
        font-size: 2.4rem;
    }

    .right-abt {
        padding-left: 0
    }

        .right-abt p {
            font-size: 1.6rem;
            margin-top: 15px;
        }

    .thanks-icon img {
        width: 160px;
    }

    .thank-txt {
        font-size: 2rem;
    }

    .banner-title h1 {
        font-size: 15px;
        margin-top: 41px;
    }

    .banner-title p {
        font-size: 18px;
    }

    .pd-130 {
        padding-top: 90px;
    }

    .profile-image img {
        width: 80px !important;
        height: 80px;
    }

    .tam-bx h5 {
        height: 46px;
        font-size: 1.9rem;
    }

    .grid-overlay {
        position: absolute;
        bottom: -81%;
        left: 0;
        right: 0;
        width: 100%;
        padding: 7px 10px;
        background: var(--theme-color);
        height: 100%;
        transition: .5s;
    }

    .tam-bx h5 {
        height: 52px;
        font-size: 1.5rem;
    }
    .txt-logo h4 {
        color: #fff;
        font-size: 2.1rem;
        padding-left: 45px;
    }
}

    @media screen and (max-width: 481px) {
        .txt-logo h3 {
            font-size: 2.4rem;
            color: #fff;
            font-weight: 600;
        }

        .txt-logo h4 {
            color: #fff;
            font-size: 2.4rem;
            padding-left: 136px;
        }

        .banner-title h1 {
            font-size: 15px;
            margin-top: 34px;
            margin-bottom: 14px;
        }

        .banner-title p {
            font-size: 17px;
        }

        .test-box h4 {
            font-size: 1.6rem;
        }

        .test-box p {
            font-size: 1.4rem;
            margin-top: 4px;
            line-height: 21px;
        }

        .testm-txt p {
            font-size: 1.4rem;
        }

        .testm-txt {
            height: 127px;
            overflow: hidden;
            margin-top: 13px;
        }

        .home-h1 {
            font-size: 1.6rem;
            margin-bottom: 10px;
        }

        .tam-bx h5 {
            height: 33px;
            font-size: 1.3rem;
        }

        .tam-bx p {
            font-size: 1.4rem;
            font-size: 1.4rem;
        }

        .grid-overlay {
            position: absolute;
            bottom: -86%;
            left: 0;
            right: 0;
            width: 100%;
            padding: 7px 10px;
            background: var(--theme-color);
            height: 100%;
            transition: .5s;
        }
        .link-top {
            position: absolute;
            top: 7px;
            right: 15px;
            width: 25px !important;
        }
        .txt-logo h4 {
            color: #fff;
            font-size: 2.1rem;
            padding-left: 44px;
        }
        .inner-testimonial {
            background: #f5f5f5;
            padding: 15px 0;
        }
        .item-title {
            position: absolute;
            bottom: 2px;
            right: 3px;
            margin: auto;
            text-align: center;
            background: #d37458;
            color: #fff;
            padding: 6px;
            font-size: 13px;
            width: 30%;
            font-weight: 600;
        }
        .exp-card {
            position: absolute;
            left: 0px;
            bottom: -11px;
            display: flex;
            width: 145px;
            height: 136px;
            background-color: #a5ddef;
            z-index: 99;
            align-items: center;
            padding: 10px;
            background-color: #01012e;
            justify-content: center;
            border: 7px solid #cdcdce;
        }
    }

    @media screen and (max-width: 480px){
        .txt-logo h3 {
            font-size: 1.9rem;
            color: #fff;
            font-weight: 600;
        }
        .txt-logo h4 {
            color: #fff;
            font-size: 1.9rem;
            padding-left: 35px;
        }
        .banner-title {
            margin-bottom: 13px;
        }
        .banner-title h1 {
            font-size: 14px;
            margin-top: 34px;
            margin-bottom: 11px;
        }
        .banner-title p {
            font-size: 15px;
        }
        .tam-bx h5 {
            height: 43px;
            font-size: 1.3rem;
        }
        .mt-60 {
            margin-top: 0px;
        }
        .tam-mb-10{
            margin-bottom:15px;
        }
        .grid-overlay {
            position: absolute;
            bottom: -83%;
            left: 0;
            right: 0;
            width: 100%;
            padding: 7px 10px;
            background: var(--theme-color);
            height: 100%;
            transition: .5s;
        }
        .tam-bx .text-center {
            min-height: 265px;
        }
        .link-top {
            position: absolute;
            top: 7px;
            right: 15px;
            width: 25px !important;
        }
        .inner-testimonial {
            background: #f5f5f5;
            padding: 15px 0;
        }
        .item-title {
            position: absolute;
            bottom: 2px;
            right: 3px;
            margin: auto;
            text-align: center;
            background: #d37458;
            color: #fff;
            padding: 6px;
            font-size: 13px;
            width: 30%;
            font-weight: 600;
        }
        .exp-card {
            position: absolute;
            left: 0px;
            bottom: -11px;
            display: flex;
            width: 145px;
            height: 136px;
            background-color: #a5ddef;
            z-index: 99;
            align-items: center;
            padding: 10px;
            background-color: #01012e;
            justify-content: center;
            border: 7px solid #cdcdce;
        }
       
    }